<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillSage Home Page</title>
</head>
<body>
    <form action="/newuser" method="get">
        <!-- Add any form elements or styles as needed -->
        <button type="submit">Add a new Employee</button>
    </form>

    <form action="/showdata" method="get">
        <!-- Add any form elements or styles as needed -->
        <button type="submit">Display All Employees</button>
    </form>
</body>
</html>
